modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 24678
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["node", "server.js"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
JWT_SECRET = "c81aa57d4123464848e765380e22823c2637acebe25128125b7f3ea8ecccb049e3c6db948f42ac83ecbda7eb16e72790b6b12a29d23b3d498ded397a50e43135"
VITE_APP_URL = "https://gre-nouille-exe.vercel.app"
